.slick-slider {
  width: 90%;
  margin: 0 auto;
  padding: 1em 1em;
  border-radius: 15px;
  border: 3px solid black;
  background-color: #ffcb42;
  box-shadow: -1px 1px 24px -12px rgba(0, 0, 0, 0.44);
}

.slick-track div {
  margin: 0 auto;
}
